<html lang="{{ shop.locale }}">
  
    {% unless customer %}
      {% if template contains 'customers' %}
      	{% assign send_to_login = false %}
      {% else %}
      	{% assign send_to_login = true %}
      {% endif %}
    {% endunless %}

    {% if send_to_login and request.path != "/challenge" %}
    	<meta content="0; url=/account/login" http-equiv="refresh" />
    {% else %} 

  <head>
    
    <!-- the <head> section of the file should go here -->

  </head>

  <body>

    <!-- the <body> section of the file should go here -->

  </body>

  {% endif %}

</html>   